body{
    font-family: sans-serif;
}
.frame{
    background-color: black;
    width: 440px;
    height: 695.2px;
    margin: auto;
    border-radius: 30px;
    padding: 10px 0px 0px 0px;
}
.cam{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.body{
    margin: auto;
    width: 412px;
    height: 643.2px;
    border-radius: 30px;
    background-color: rgb(32,44,51);
    padding: 8px;
}
.time{
    color: white;
}
#top{
    color: rgb(174,186,193);
}